<div class="photocontainer">
  <div class="topcontainer">
      {{user}}
  </div>
  <div class="photo">
      <img *ngIf="photo" src="{{photo.src}}" alt="Picture" class="pictureLoaded">
  </div>
  <div class="buttons">
      <div *ngIf="!liked">
        <img src="../../assets/heartempty.png" alt="Like button" id="like">
      </div>
      <div *ngIf="liked">
        <img src="../../assets/heartfilled.png" alt="Like button" id="like">
      </div>
      <div *ngIf="!faved">
        <img src="../../assets/starempty.png" alt="Favorite button" id="fav">
      </div>
      <div *ngIf="faved">
        <img src="../../assets/starfilled.png" alt="Favorite button" id="fav">
      </div>
      <div class="sharehover">
        <span class="pop" [style.visibility]="popup">Copied to clipboard!</span>
        <img (click)="share()" src="../../assets/share.png" alt="Share button" id="share">
      </div>


  </div>
  <div class="description" *ngIf="description">
      {{description}}
  </div>
</div>
