<div class="photocontainer">
  <div class="topcontainer">
      {{user}}
  </div>
  <div class="photo">
      <img *ngIf="photo" src="{{photo.src}}" alt="Picture" class="pictureLoaded">
  </div>
  <div class="buttons" *ngIf="!dashboard">
    <div class="nlikes">
      {{number_of_likes}}
    </div>
    <div class="likehover">
      <span class="likeho">Like (L)</span>
      <div *ngIf="!liked">
        <img (keydown.enter)="like()" (click)="like()" src="../../assets/heartempty.png" alt="Like button" id="like" tabindex="0">
      </div>
      <div *ngIf="liked">
        <img (keydown.enter)="like()" (click)="like()" src="../../assets/heartfilled.png" alt="Like button" id="like" tabindex="0">
      </div>
    </div>
    <div class="favehover">
      <span class="faveho">Favorite (F)</span>
      <div *ngIf="!faved">
        <img (keydown.enter)="fave()"  (click)="fave()" src="../../assets/starempty.png" alt="Favorite button" id="fav" tabindex="0">
      </div>
      <div *ngIf="faved">
        <img (keydown.enter)="fave()" (click)="fave()" src="../../assets/starfilled.png" alt="Favorite button" id="fav" tabindex="0">
      </div>
    </div>
    <div class="sharehover">
      <span class="shareho">Share (S)</span>
      <span class="pop" [style.visibility]="popup">Copied to clipboard!</span>
      <img (keydown.enter)="share()" (click)="share()" src="../../assets/share.png" alt="Share button" id="share" tabindex="0">
    </div>


  </div>
  <div class="description" *ngIf="description">
      <b>Name: {{name}}</b> <br>
      {{description}}
  </div>
</div>
