<body>
<div id="site">
  <header>
    <a routerLink="/dashboard"><img src="../../assets/iconrec.png" id="icon" alt="icon"></a>
  </header>
  <main>

    <div id="textUpload">
      <div class="photoup">
        <div *ngFor='let p of photos; let i = index;' class="photoContainer">
          <img [src]="p.photoBase64" height="100" name="url" class="thumbs"><br>
          <input [(ngModel)]="p.name" placeholder="Name" class="names">
          <input [(ngModel)]="p.description" placeholder="Description" class="description">
          <button type="button" (click)="removeIndex(i)" class="rmvbtn">X</button>
        </div>

        <input type="file" id="ficheiro" (change)="onselect($event)" multiple id="select">

        <button type="button" id="uploadB" (click)="upload()" id="upload"
          [style.visibility]="photos.length > 0 ? 'visible' : 'hidden'">Upload Image(s)</button>
        <div *ngIf="error" class="error">
          {{error}}
        </div>



      </div>
    </div>
  </main>
</div>
</body>
