<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>


<body>
    <div id="site">
        <header>
            <a routerLink="/login"><img src="../../assets/iconrec.png" id="icon" alt="icon"></a>
        </header>
        <main>
            <div id="upload">
                <div>
                    <input id="description" type="text" placeholder="Description" [(ngModel)]="tempD">
                </div>
                <img src="../../assets/upload.png" alt="Update button">
                <form action=" ">
                    <label for="imagem"></label>
                    <input #imagem type="file" accept="image/*" id="imagem " name="imagem" (change)="handleFileInput($event)">
                </form>
                <div>
                    <button (click)="submit()">submit</button>
                </div>
            </div>



        </main>
    </div>
</body>


</html>