<div id="site">
  <header>
    <a routerLink="/dashboard"><img src="../../assets/iconrec.png" id="icon" alt="icon"></a>
  </header>
  <main>

    <div id="textUpload">
      <div class="photoup">
        <div class="thumbs" *ngFor='let url of urls'>
          <img [src] = "url" height="100" (change)= "addSource()" name = "url"><br>
        </div>

        <input type="file" id="ficheiro" (change)="onselect($event)" multiple (change)= "addName()" (change)= "addDescription()">
        <button *ngIf="url" type="button" name="button" id="removePhoto"> X </button>

        <div *ngFor="let value of names; let i = index" id="name">
          <input type ="text" [(ngModel)]="value.value" #name = "ngModel" name = "value{{i}}">
          <!-- <button (click)="removeName(i)"> Remove</button> -->
        </div>

        <div *ngFor="let value of descrip; let i = index" id="descrip">
          <input type ="text" [(ngModel)]="value.value" #name = "ngModel" name = "value{{i}}">
          <!-- <button (click)="removeDescription(i)"> Remove</button> -->
        </div>

        <button type="button" (click)="upload()">Upload Image</button>
        <div class="error">
          {{error}}
        </div>
      </div>
    </div>


    <!-- <div id="upload">
        <img src="../../assets/upload.png" alt="Update button">
    </div> -->

  </main>
</div>
