<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>

    <body>
      <header>
        <img src="../../assets/iconrec.png" id="icon" alt="icon">
      </header>
      <nav>
        <ul>
          <li>
            <a routerLink="/favorites">
              <img src="" id="favs"> Favoritos
            </a>
          </li>
        </ul>
      </nav>
      <div id="filter">
        <form>
          Pesquisar por:
          <ul>
            <li><input type="radio" name="Populares" value="Populares">Populares</li>
            <li><input type="radio" name="Recentes" value="Recentes">Recentes</li>
          </ul>
        </form>
      </div>

      <main>
        photos
      </main>
  </body>


</html>
