*{
     height: 100%;
     font-family: Poppins;
}

#main {
  height: calc(100% - 46px);
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 200px auto;
  grid-template-areas:
  'nav main'
  'filter main';

}


#icon {
  width: 52px;
  height: 38px;
  margin-top: 4px;
  margin-left: 4px;
}

#icon:hover {
  cursor: pointer;
}

header {
  height: 45px;
  border-bottom: solid 1px #D0CECE;
  background-color: white;
}

nav {
  grid-area: nav;
}

nav ul {
  margin: 15px;
}

#filter {
  margin: 15px;
  margin-top: 35px;
  grid-area: filter;
}

#filter li {
  height: 25px;
  font-weight: 300;
}

input[type=radio]{
  height: 15px;
  margin: 0px;
  vertical-align: middle;
}

label {
  margin-left: 5px;
  vertical-align: middle;
  font-size: 15px;
}

ul {
  list-style: none;
  border-bottom: solid 1px #D0CECE;
  padding: 0px;
  margin: 0px;
}

nav a {
  color: black;
  text-decoration: none;
}

ul li {
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 300;
  height: auto;
}

form {
  padding: 10px;
}

nav ul li:hover {
  background-color: #ebebeb;
}

main {
  margin: 20px;
  grid-area: main;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 100px;
  /* padding-right: 100px; */
}

#upload {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  background-color: #ff7912;
  border-radius: 50%;
  z-index: 100;
  box-shadow: 0px 0px 6px 8px #ebebeb;
  justify-content: center;
}

#upload img {
  align-self: center;
  height: 35px;
}
