*{
     height: 100%;
     font-family: Poppins;
}

#main {
  height: calc(100% - 46px);
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 200px auto;
  grid-template-areas:
  'nav main'
  'filter main';

}

#icon {
  width: 52px;
  height: 38px;
  margin-top: 4px;
  margin-left: 4px;
  align-self: flex-start;
}

#icon:hover {
  cursor: pointer;
}

header {
  height: 45px;
  border-bottom: solid 1px #D0CECE;
  background-color: white;
  display: flex;
}

nav {
  grid-area: nav;
}

nav ul {
  margin: 15px;
  border-bottom: solid 1px #D0CECE;

}

#filter {
  margin: 15px;
  margin-top: 35px;
  grid-area: filter;
}

#filter li {
  height: 25px;
  font-weight: 300;
}

#filterside {
  margin: 15px;
  margin-top: 35px;
  text-align: right;
  border-top: solid 1px black;
  color: black;

}

#filterside li {
  height: 25px;
  font-weight: 300;
}


input[type=radio]{
  height: 15px;
  margin: 0px;
  vertical-align: middle;
}

label {
  margin-left: 5px;
  vertical-align: middle;
  font-size: 15px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  color: black;
  text-decoration: none;
}

ul li {
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 300;
  height: auto;
}

form {
  padding: 10px;
}

nav ul li:hover {
  background-color: #ebebeb;
}

main {
  margin: 20px;
  grid-area: main;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 100px;
  /* padding-right: 100px; */
}

#upload {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  background-color: #ff7912;
  border-radius: 50%;
  z-index: 100;
  box-shadow: 0px 0px 6px 8px #ebebeb;
  justify-content: center;
}

#upload img {
  align-self: center;
  height: 35px;
}

#menu {
  width: 40px;
  margin: 4px;
  cursor: pointer;
  margin-left: auto;
}

#linksside{
  margin: 10px;
  height: auto;
}


#linksside ul li{
  text-align: right;
}

/* #linksside a{
  text-align: righ;
} */

#mainphone {
  margin: 10px;
}

.cont {
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

#linksside ul li:active {
  background-color: #ffd49c;
}

.uploadhover {
  position: relative;
  display: inline-block;
}

.uploadho{
  visibility: hidden;
  width: 100px;
  background-color: #292929;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 100;
  bottom: 100%;
  left: 65%;
  margin-left: -60px;
  height: auto;
}

.uploadhover:hover .uploadho{
  visibility: visible;
}

.overlay{
  position: fixed;
  width:100%;
  height:100%;
  z-index: 100;
}

.black{
  background-color: black;
  opacity: 0.2;
}

.close{
  height: 40px;
  width: 40px;
  z-index: 1004;
  position: fixed;
  top: 20px;
  right:0;
  margin-left: calc(100% - 40px);
}

.mainover {
  position: absolute;
  z-index: 1000;
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;

}

.overph{
  height: 100%;
  width: 100%;
  margin-left: 50%;
  z-index: 1002;
  position: fixed;
}

.overphone{
  height: 100%;
  width: 100%;
  z-index: 1002;
  position: fixed;
}

#popupphone{
  position: relative;
  z-index: 1003;
  align-self: center;
  max-height: 100%;
}

#popupphone{
  position: relative;
  z-index: 1003;
  align-self: center;
  max-height: 100%;
}
