<header>
  <a routerLink="/dashboard"><img src="../../assets/iconrec.png" id="icon" alt="icon"></a>
</header>

<main>
  <div id="photos">
    phtoso
    <div class="photo" *ngFor="let p of photos">
      <img *ngIf="p.image" src="{{p.image.src}}" alt="Picture" class="pictureLoaded">
    </div>
  </div>


  <nav>
    <div id="user">
      {{profile.username}}
    </div>
    <div id="links">
      <a routerLink="/favorites">
          My favorites
      </a>
    </div>
  </nav>
</main>


<div id="upload">
  <img src="../../assets/upload.png" alt="Update button">
</div>
