<!doctype html>
<html lang="en-US">

<body>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">

        <form [formGroup]="frmSignin" class="sign-in-form">
          <h2 class="title">Sign In</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" formControlName="username" placeholder="Username" class="form-control">
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" formControlName="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-block font-weight-bold" (click)="submitLogin()">Sign
            In</button>
        </form>

        <form [formGroup]="frmSignup" class="sign-up-form">
          <h2 class="title">Sign Up</h2>
          <div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input id="username" formControlName="usernameRegister" type="text" class="form-control"
                placeholder="Username" [ngClass]="frmSignup.controls['usernameRegister'].invalid ? 'is-invalid' : ''">
            </div>
            <label class="col"
              [ngClass]="frmSignup.controls['usernameRegister'].hasError('required') || frmSignup.controls['usernameRegister'].hasError('minlength') ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ frmSignup.controls['usernameRegister'].hasError('required') ||
                frmSignup.controls['usernameRegister'].hasError('minlength') ? 'cancel' :
                'check_circle' }}</i>
              Tem de ter mínimo de 3 carateres
            </label>
            <label
              [ngClass]="frmSignup.controls['usernameRegister'].hasError('required') || frmSignup.controls['usernameRegister'].hasError('hasSymbol') ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ frmSignup.controls['usernameRegister'].hasError('required') ||
                frmSignup.controls['usernameRegister'].hasError('hasSymbol') ?
                'cancel' :
                'check_circle' }}</i>
              Só pode ter letras e números
            </label>
          </div>
          <div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input formControlName="email" type="email" class="form-control" placeholder="Email"
                [ngClass]="frmSignup.controls['email'].invalid ? 'is-invalid' : ''">
            </div>
          </div>
          <div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input formControlName="passwordRegister" type="password" class="form-control" placeholder="Password"
                [ngClass]="frmSignup.controls['passwordRegister'].invalid ? 'is-invalid' : ''">
            </div>
            <label
              [ngClass]="frmSignup.controls['passwordRegister'].hasError('required') || frmSignup.controls['passwordRegister'].hasError('minlength')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ frmSignup.controls['passwordRegister'].hasError('required') ||
                frmSignup.controls['passwordRegister'].hasError('minlength') ? 'cancel' :
                'check_circle' }}</i>
              Tem de ter mínimo de 8 carateres
            </label>
            <label
              [ngClass]="frmSignup.controls['passwordRegister'].hasError('required') || frmSignup.controls['passwordRegister'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ frmSignup.controls['passwordRegister'].hasError('required') ||
                frmSignup.controls['passwordRegister'].hasError('hasNumber') ? 'cancel' :
                'check_circle' }}</i>
              Tem de ter um número
            </label>
            <label
              [ngClass]="frmSignup.controls['passwordRegister'].hasError('required') || frmSignup.controls['passwordRegister'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ frmSignup.controls['passwordRegister'].hasError('required') ||
                frmSignup.controls['passwordRegister'].hasError('hasCapitalCase') ? 'cancel' :
                'check_circle' }}</i>
              Tem de ter uma maiúscula
            </label>
            <label
              [ngClass]="frmSignup.controls['passwordRegister'].hasError('required') || frmSignup.controls['passwordRegister'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ frmSignup.controls['passwordRegister'].hasError('required') ||
                frmSignup.controls['passwordRegister'].hasError('hasSmallCase') ? 'cancel' :
                'check_circle' }}</i>
              Tem de ter uma minúscula
            </label>
          </div>
          <div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input formControlName="confirmPassword" type="password" class="form-control"
                placeholder="Repeat Password"
                [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'is-invalid' : ''">
            </div>
            <label class="text-danger" *ngIf="frmSignup.controls['confirmPassword'].hasError('required')">
              Introduza a mesma password
            </label>
            <label class="text-danger" *ngIf="frmSignup.controls['confirmPassword'].hasError('NoPassswordMatch')">
              Password não é igual
            </label>
          </div>
          <button [disabled]="frmSignup.invalid" type="submit" class="btn btn-primary btn-block font-weight-bold"
            (click)="submitRegister()">Sign
            Up</button>

        </form>

      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>New here?</h3>
          <p>
            If you want learn new things in everyday here we go.
          </p>
          <button class="btn transparent" id="sign-up-btn">
            Sign up
          </button>
        </div>
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>One of us?</h3>
          <p>
            Everyday learning is most important to succed in life.
          </p>
          <button class="btn transparent" id="sign-in-btn">
            Sign in
          </button>
        </div>
      </div>
    </div>
  </div>


</body>


</html>