*{
   height: 100%;
   font-family: Poppins;
}

#icon {
  width: 52px;
  height: 38px;
  margin-top: 4px;
  margin-left: 4px;
}

app-photo {
  width: 50%;
  max-width: 700px;
}

header {
  height: 45px;
  border-bottom: solid 1px #D0CECE;
  background-color: white;
}

main {
  margin: 20px;
  height: calc(100% - 46px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.logout{
  position: relative;
  top: 8%;
  left: 92%;
  background-color: #fa992f;
  border: none;
  color: white;

  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.logout:hover {opacity: 1}
